/*Main Page (App.js) */

body { /*background of page */
  margin: 0; /* Remove default margin */
  background-color: #fff;
  overflow-x: hidden;
}
.mainHeader { /*main header for GFD order forms*/
    position: relative;
    color: #bdbec0;
    font-family: serif;
    text-align: center;
    font-size: 3.5rem;
    background-color: #9a173a;
    padding-top: 5vh;
    margin: 0;
    z-index: 1;
}

.tabs{ /*tab buttons */
  position: absolute;
  color: #9a173a;
  font-family: serif;
  top: 3.5vw;
  right: 8vw;
  z-index: 1;
  display: flex;
  flex-direction: column;

}
.tabs button{ /*meant for the send/check order and order history */
  color: #bdbec0;
  font-family: serif;
  background-color: #9a173a;
  border-color: #555555;
  border-style: outset;
  margin-bottom: 3vh;
  z-index: 1;
  font-size: 1.1rem;
  width: 10vw;
}
.tabs button:hover{

  background-color:#510c1f;
  border-width: 3px;
  transform: scale(1.05);
}
.containermainlogo { /* contains the logo*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
} 
.mainlogo { /*main logo in top left corner */
    padding-top: 3vh;
    padding-left: 3vw;
    z-index: 2;
    height: 20vh;
}
.custom-main-border { /* border around the main gfd header*/
  position: relative;
  border-style: outset;
  border: .5vh solid maroon;
  width: 100vw;
  padding-bottom: 5vh;
  background-color: #9a173a;
  z-index: 0;
}

@media (max-width: 75em) and (min-width: 38em) {
  .mainHeader {
    font-size: 2.15rem;
  }
  .tabs {
    right: 3vw;
  }
  .tabs button {
    width: 8vw;
    font-size: .75rem;
    margin-bottom: 1.5vh;
  }
  .mainlogo { 
    height: 16vh;
  }
}

@media (max-width: 38em) {
  .mainHeader {
    font-size: 1.5rem;
  }
  .tabs {
    right: 3vw;
    top: 1vh;
  }
  .tabs button {
    width: 8vw;
    font-size: .55rem;
    margin-bottom: 1.5vh;
  }
  .mainlogo { 
    height: 12vh;
  }
}

@media (max-height: 35em) {
  .mainHeader {
    font-size: 2.5rem;
    height: 30vh;
  }
  .tabs {
    right: 6vw;
    top: 2vh;
  }
  .tabs button {
    width: 8vw;
    font-size: .75rem;
    margin-bottom: 1.5vh;
  }
  .mainlogo { 
    height: 25vh;
  }

}